.messageList{
  padding-inline-start: 0px;
  width: 100%;
  list-style: none;
}


.my{
  display: flex;
  margin-right: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}

.not_my{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
