.window{
  display: flex;
  flex-direction: column;
}

.login{
  color: white;
  font-size: 24px;
}

.links{
  display: flex;
  flex-direction: column;
}

.mainPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #8e24aa;
  width: 100%;
  height: 100%;
}

.header{
  display: flex;
  color: white;
  background-color: #8e24aa;
  width: 100%;
  height: 56px;
  justify-content: space-between;
}

.list_chats{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 70px;
  width: 100%;
}

.link {
  color: black;
  text-decoration: none;
}

.menu, .search, .more, .back{
  filter: grayscale(100%) brightness(10);
}

.title{
  min-height: 50px;
  margin: 10px;
  color: white;
  bottom: 0px;
}

.container {
  position: fixed;
  width: 100%;
  height: 80%;
  top: 66px;
  display: flex;
  background-color: whitesmoke;
  align-items: space-around;
  overflow-y: auto;
}

.inputForm{
  display: flex;
  bottom: 0px;
  position: fixed;
  flex-basis: 10%;
  height: 10%;
  width: 100%;
}
